# Data Structures: Pandas Dataframe

Two dimensions, each column with its own type.

In [1]:
import pandas as pd

### 1.1. Create Dataframes

In [2]:
df1 = pd.DataFrame([[1, 2], [2, 4], [4, 8]], index=["x", "y", "z"], columns=["A", "B"])
print(df1)

   A  B
x  1  2
y  2  4
z  4  8

In [3]:
print(df1.shape)
print(df1.index)
print(df1.columns)

(3, 2)
Index(['x', 'y', 'z'], dtype='object')
Index(['A', 'B'], dtype='object')

In [4]:
print(df1.rename(columns={"A":"a", "B":"b"}))

   a  b
x  1  2
y  2  4
z  4  8

### 1.2. Summary of Dataframes

In [5]:
df2 = pd.DataFrame([[1, 2], [2, 4], [4, 8]], index=["x", "y", "z"], columns=["A", "B"])
print(df2)

   A  B
x  1  2
y  2  4
z  4  8

In [6]:
print(df2.values)

[[1 2]
 [2 4]
 [4 8]]

In [7]:
print(df2.head(2))

   A  B
x  1  2
y  2  4

In [8]:
print(df2.tail(2))

   A  B
y  2  4
z  4  8

In [9]:
print(df2.count(axis=0, numeric_only=True))

A    3
B    3
dtype: int64

In [10]:
print(df2.count(axis=1, numeric_only=True))

x    2
y    2
z    2
dtype: int64

In [11]:
print(df2.describe())

              A         B
count  3.000000  3.000000
mean   2.333333  4.666667
std    1.527525  3.055050
min    1.000000  2.000000
25%    1.500000  3.000000
50%    2.000000  4.000000
75%    3.000000  6.000000
max    4.000000  8.000000

### 2.1. Subset by Indexing

In [12]:
df3 = pd.DataFrame([[1, 2], [2, 4], [4, 8]], index=["x", "y", "z"], columns=["A", "B"])
print(df3)

   A  B
x  1  2
y  2  4
z  4  8

In [13]:
## By Label
print(df3.loc[["x", "y"], ["A", "B"]])

   A  B
x  1  2
y  2  4

In [14]:
## By Position
print(df3.iloc[[0, 1], [0, 1]])

   A  B
x  1  2
y  2  4

### 2.2. Subset by Conditions

In [15]:
df4 = pd.DataFrame([[1, 2], [2, 4], [4, 8]], index=["x", "y", "z"], columns=["A", "B"])
print(df4)

   A  B
x  1  2
y  2  4
z  4  8

In [16]:
print(df4[df4["A"] > 2])

   A  B
z  4  8

In [17]:
print(df4.query("A > 2"))

   A  B
z  4  8

In [18]:
print("Index of Minimum A:", df4["A"].idxmin())
print("Index of Maximum A:", df4["A"].idxmax())

Index of Minimum A: x
Index of Maximum A: z

### 3.1. Insert and Delete

In [19]:
df5 = pd.DataFrame([[1, 2], [2, 4], [4, 8]], index=["x", "y", "z"], columns=["A", "B"])
print(df5)

   A  B
x  1  2
y  2  4
z  4  8

In [20]:
print(pd.concat([df5, pd.DataFrame([[0, 0]], index=["#"], columns=["A", "B"])],
                axis=0, ignore_index=False))

   A  B
x  1  2
y  2  4
z  4  8
#  0  0

In [21]:
print(pd.concat([df5, pd.DataFrame([[0], [0], [0]], index=["x", "y", "z"], columns=["#"])],
                axis=1, ignore_index=False))

   A  B  #
x  1  2  0
y  2  4  0
z  4  8  0

In [22]:
print(df5.drop(["x"], axis=0))

   A  B
y  2  4
z  4  8

In [23]:
print(df5.drop(["A"], axis=1))

   B
x  2
y  4
z  8

### 3.2. Merge Dataframes

In [24]:
df_lft = pd.DataFrame({"#":["X", "Y"], "LFT":[1, 2]}); df_lft.index = [0, 1]; print(df_lft)
df_rgt = pd.DataFrame({"#":["Y", "Z"], "RGT":[3, 4]}); df_rgt.index = [1, 2]; print(df_rgt)

   #  LFT
0  X    1
1  Y    2
   #  RGT
1  Y    3
2  Z    4

In [25]:
## By Index
print(df_lft.merge(df_rgt, left_index=True, right_index=True, suffixes=["L", "R"], how="outer"))

    #L  LFT   #R  RGT
0    X  1.0  NaN  NaN
1    Y  2.0    Y  3.0
2  NaN  NaN    Z  4.0

In [26]:
## By Columns (Index Auto-Reset)
print(df_lft.merge(df_rgt, left_on=["#"], right_on=["#"], how="outer"))

   #  LFT  RGT
0  X  1.0  NaN
1  Y  2.0  3.0
2  Z  NaN  4.0

### 3.3. Data Handling

In [27]:
print(pd.DataFrame([[0, None], [0, 0], [0, 0]],
                   index=["x", "y", "z"], columns=["A", "B"]).replace(0, 1))

   A    B
x  1  NaN
y  1  1.0
z  1  1.0

In [28]:
print(pd.DataFrame([[0, None], [0, 0], [0, 0]],
                   index=["x", "y", "z"], columns=["A", "B"]).drop_duplicates())

   A    B
x  0  NaN
y  0  0.0

In [29]:
print(pd.DataFrame([[0, None], [0, 0], [0, 0]],
                   index=["x", "y", "z"], columns=["A", "B"]).dropna())

   A    B
y  0  0.0
z  0  0.0

In [30]:
print(pd.DataFrame([[0, None], [0, 0], [0, 0]],
                   index=["x", "y", "z"], columns=["A", "B"]).fillna(0))

   A    B
x  0  0.0
y  0  0.0
z  0  0.0

### 4.1. Sort

In [31]:
df6 = pd.DataFrame([[1, 2], [2, 4], [4, 8]], index=["x", "y", "z"], columns=["A", "B"])
print(df6)

   A  B
x  1  2
y  2  4
z  4  8

In [32]:
print(df6.sort_index(axis=0, ascending=False))

   A  B
z  4  8
y  2  4
x  1  2

In [33]:
print(df6.sort_values(by="A", ascending=False))

   A  B
z  4  8
y  2  4
x  1  2

### 4.2. Apply

In [34]:
df7 = pd.DataFrame([[1, 2], [2, 4], [4, 8]], index=["x", "y", "z"], columns=["A", "B"])
print(df7)

   A  B
x  1  2
y  2  4
z  4  8

In [35]:
print(df7.apply(lambda col: col.max()-col.min(), axis=0))

A    3
B    6
dtype: int64

In [36]:
print(df7.apply(lambda ix: ix.max()-ix.min(), axis=1))

x    1
y    2
z    4
dtype: int64

### 4.3. Group

In [37]:
df8 = pd.DataFrame({"A":["T", "F"]*3, "B":["T", "T", "F"]*2, "#":[1, 2, 3, 4, 5, 6]})
print(df8)

   #  A  B
0  1  T  T
1  2  F  T
2  3  T  F
3  4  F  T
4  5  T  T
5  6  F  F

In [38]:
print(df8.groupby(["A", "B"]).sum())

     #
A B
F F  6
  T  6
T F  3
  T  6

In [39]:
print(pd.pivot_table(df8, values="#", index=["A"], columns=["B"], aggfunc="sum"))

B  F  T
A
F  6  6
T  3  6